body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:lightblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
}

img {
    width: 15%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;}